#.dwm/.git
.dwm/dwm
.dwm/dwm.png
.dwm/config.def.h
.dwm/config.h
*/**/README.md
*.o
*.diff
*.1
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/init.el~
.emacs.d/transient
.emacs.d/**/*.eld
*~undo-tree~